

    <div class="col-md-6 offset-md-3  col-12 text-center">
      
        <div class="row no-gutters pt-3">
            <div class="col-md-4 col-4 pr-0">
                <img src="./assets/images/sam.jpg" alt="..." class="rounded-circle w-100 mb-2">
               <h6 class="mb-1"><b>Client</b></h6>
               <p>CL-2006-039</p>
               

            </div>
            <div class="col-md-8 col-8 text-left pt-1 fs-14">
              <div class="row text-center no-gutters">
                  <div class="col-md-4 col-4 mb-2 px-3 line-height-sm">
                      <a href="#" class="text-dark text-decoration-none">
                      <div class="mb-1">
                      <a href="#" class="app-icon btn btn-outline-success "><i class="fas fa-home"></i></a>
                  </div>
                      <small>Home</small>
                  </a>
                      </div>
                      <div class="col-md-4 mb-2 col-4 line-height-sm ">
                          <a href="#" class="text-dark text-decoration-none">
                          <div class="mb-1">
                            <a [routerLink]="['/counsellorclientprofile']"   class="app-icon btn btn-outline-success "><i class="fas fa-user-tie"></i></a>
                      </div>
                         <small>Profile</small> 
                         </a>
                          </div>
                          <div class="col-md-4 col-4 mb-2  px-3 line-height-sm">
                            
                              <div class="mb-1">
                                <a  [routerLink]="['/counsellorclientmessage']"  class="app-icon btn btn-outline-success "><i class="fas fa-comment-dots"></i></a>
                          </div>
                            <small>Message </small> 
                               
                          </div>
                              <div class="col-md-4 col-4 px-3 mb-2 line-height-sm">
                                  <a  [routerLink]="['/familylist']"  class="text-dark text-decoration-none ">
                                  <div class="mb-1">
                                    <span  class="app-icon btn btn-outline-success active-tab"><i class="far fa-address-card"></i></span>
                              </div>
                                <small>Contact</small>  
                                  </a>
                                  </div>
                                  <div class="col-md-4 col-4 px-3 mb-2 line-height-sm">
                                      <a  [routerLink]="['/familylist']"  class="text-dark text-decoration-none">
                                      <div class="mb-1">
                                        <a href="#"  class="app-icon btn btn-outline-success "><i class="fas fa-dumbbell"></i></a>
                                  </div>
                                    <small>Gym</small>  
                                      </a>
                                      </div>
                                      <div class="col-md-4 col-4 px-3 mb-2 line-height-sm">
                                          <a  [routerLink]="['/ClientnotesComponent']"  class="text-dark text-decoration-none">
                                          <div class="mb-1">
                                            <a [routerLink]="['/ClientnotesComponent']"   class="app-icon btn btn-outline-success "><i class="far fa-file-alt"></i></a>
                                      </div>
                                        <small>Notes</small>  
                                          </a>
                                          </div>
                                          <div class="col-md-4 col-4 px-3 line-height-sm">
                                              <a  [routerLink]="['/ClientinvoiceComponent']"   class="text-dark text-decoration-none">
                                              <div class="mb-1">
                                                <a href="#"  class="app-icon btn btn-outline-success "><i class="fas fa-file-invoice"></i></a>
                                          </div>
                                            <small>Invoice</small>  
                                              </a>
                                              </div>
                                              <div class="col-md-4 col-4 px-3line-height-sm">
                                                  <a  [routerLink]="['/familylist']"  class="text-dark text-decoration-none">
                                                  <div class="mb-1">
                                                    <a href="#" class="app-icon btn btn-outline-success "><i class="fas fa-comment-dots"></i></a>
                                              </div>
                                                <small>Reset</small>  
                                                  </a>
                                                  </div>
                                                  <div class="col-md-4 col-4 px-3  line-height-sm">
                                                      <a  [routerLink]="['/familylist']"  class="text-dark text-decoration-none">
                                                      <div class="mb-1">
                                                        <a href="#" class="app-icon btn btn-success "><i class="fas fa-plus"></i></a>
                                                  </div>
                                                    <small>Session</small>  
                                                      </a>
                                                      </div>
                      </div>
            </div>
            </div>

                <hr>
           
                <div class="row my-3 mb-5">
                    <div class="col-md-12">
                        <table class="table table-borderless">
                     
                   <tr>
                            <td class="text-left">
                               <div> <b>Mr. John Tan</b></div>
                               <div>Mn45</div>
                               <div class="text-primary">joannetan@gmail.com</div>
                            </td>
                            <td>
                               <i class="fas fa-phone-alt fs-20"></i>
                               <br><small>Call</small>
                              </td>
                            <td>  <i class="fas fa-comment-dots fs-20"></i><br><small>SMS</small>
                            
                            </td>
                            <td> 
                             <i class="fab fa-whatsapp fs-20"></i><br><small>Whatsapp</small></td>
                           </tr>
                            <tr>
                                <td class="text-left"> 
                                   <div> <b>Joanne Tan</b></div>
                                   F 42 , <span class="text-primary">Wife</span>
                                   <div class="text-primary">joannetan@gmail.com</div>
                                </td>
                                <td>
                                  <i class="fas fa-phone-alt fs-20"></i>
                                  <br><small>Call</small>
                                 </td>
                               <td>  <i class="fas fa-comment-dots fs-20"></i><br><small>SMS</small>
                               
                               </td>
                               <td>  <i class="fab fa-whatsapp fs-20"></i><br><small>Whatsapp</small></td>
                                </tr>
                                <tr>
                                    <td class="text-left">
                                       <div> <b>Daniel Tan</b></div>
                                       M 11, <span class="text-primary">Son</span>
                                    </td>
                                    <td>
                                      <i class="fas fa-phone-alt fs-20"></i>
                                      <br><small>Call</small>
                                     </td>
                                   <td>  <i class="fas fa-comment-dots fs-20"></i><br><small>SMS</small>
                                   
                                   </td>
                                   <td>  <i class="fab fa-whatsapp fs-20"></i><br><small>Whatsapp</small></td>
                                  
                                    </tr>
                             </table>
                    </div>
                </div>
            </div>

