<div class="container-fluid">
    <div class="main-wrapper mt-4">
        <div class="container">
            <div class="row">
<div class="col-md-6 offset-md-3  col-12 text-center">
    <h1 class="app-title">OTP VERIFICATION</h1>
    <p>ent a verification code to verify your mobile number</p>
    <p class="text-muted"><small>Sent to +91 7837965003</small></p>
        <div class="row text-center mb-3">
        <div class="col-md-3 col-3">
            <input type="text" class="form-control border-0  shadow-sm bg-light"/>
        </div>
        <div class="col-md-3 col-3">
            <input type="text" class="form-control border-0   shadow-sm bg-light"/>
        </div>
        <div class="col-md-3 col-3">
            <input type="text" class="form-control border-0   shadow-sm bg-light"/>
        </div>
        <div class="col-md-3 col-3">
            <input type="text" class="form-control  border-0  shadow-sm bg-light"/>
        </div>
        </div>
        <div class="row mb-3">
            <div class="col-md-12">
                <small class="text-muted">Didn't get code yet?</small> <a href="#" class="text-success ml-1">Resend OTP</a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <a [routerLink]="['/appointment']"  class="btn btn-lg br-3 w-100 text-white btn-success">VERIFY</a>
                      </div>
        </div>

</div>

            </div>
       </div>
    </div>
 </div>
