<div class="container-fluid">
    <div class="main-wrapper mb-5 mt-4">
        <div class="container">
            <div class="row">
                <div class="col-md-6 offset-md-3  col-12 text-center">
                    <div class="row">
                        <div class="col-md-12 pb-3">
                            <h1 class="app-title"><i class="fas fa-plus mr-2"></i>CREATE INVOICE
                            </h1>
                            <span class="border-devider"></span>
                        </div>
                    </div>
                    <div class="row">

                        <div class="col-md-12">

                            <div class="form-group">
                                <select class="form-control border-0   shadow-sm bg-light">
                                    <option selected>Select Client </option>
                                    <option>Relationship </option>

                                </select>
                            </div>
                        </div>

                        <div class="col-md-12">
                            <div class="form-group">
                                <input type="text" placeholder="First Name"
                                    class="form-control border-0   shadow-sm bg-light" />
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <input type="text" placeholder="Last Name"
                                    class="form-control border-0   shadow-sm bg-light" />
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <input type="email" placeholder="Email"
                                    class="form-control border-0   shadow-sm bg-light" />
                            </div>
                        </div>
                        <div class="col-md-12">

                            <div class="row no-gutters mb-4">

                                <div class="col-md-3 col-3 pr-2">
                                    <input type="text" class="form-control border-0 shadow-sm bg-light"
                                        placeholder="+91" />
                                </div>
                                <div class="col-md-9 col-9 text-center">
                                    <input type="text" class="form-control border-0 shadow-sm bg-light"
                                        placeholder="Mobile Number" />
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">

                            <div class="form-group">
                                <select class="form-control border-0   shadow-sm bg-light">
                                    <option selected>Category </option>
                                    <option>Salutation </option>

                                </select>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <input type="text" placeholder="Concern"
                                    class="form-control border-0   shadow-sm bg-light" />
                            </div>
                        </div>



                        <div class="col-md-12">

                            <div class="form-group">
                                <select class="form-control border-0   shadow-sm bg-light">
                                    <option selected>Duration </option>
                                    <option>1 Hour </option>

                                </select>
                            </div>
                        </div>
                        <div class="col-md-12">

                            <div class="form-group">
                                <select class="form-control border-0   shadow-sm bg-light">
                                    <option selected>Facility </option>
                                    <option>Facility 1 </option>

                                </select>
                            </div>
                        </div>
                    </div>


                    <div class="row">
                        <div class="col-md-12 mb-3">
                            <a [routerLink]="['/familylist']"
                                class="btn btn-lg br-3 w-100 btn-success text-white">Submit</a>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <app-appfooter></app-appfooter>