
    <div class="col-md-6 offset-md-3  col-12">
<div class="row">

<div class="col-md-12 bg-yellow-d py-2">

<div class="row no-gutters">
    <div class="col-md-2 col-2">
        <img class="client-image" src="http://emilcarlsson.se/assets/mikeross.png" alt="" />
    </div>
    <div class="col-md-10 col-10 text-white text-left pt-2">
        Joh Don
        </div>
</div>

</div>
</div>


<div class="row my-3">

    <div class="col-md-12">
        <div class="card text-left">
                    <div class="card-body">
              <h5 class="card-title">Special title treatment</h5>
              <p class="card-text">This is a sample note text for development
                purposes only. This is a sample note text
                for development purposes only.
                This is a sample note text for development
                purposes only.
                This is a sample note text for development .</p>
            
            </div>
            <div class="card-footer text-muted text-right">
                Thu, 2 Jun 2020, 09:00 AM
            </div>
          </div>

    </div>
</div>
<div class="row my-3">

    <div class="col-md-12">
        <div class="card text-left border-0">
             <div class="card-body border-0 p-0">
              <textarea class="form-control notes-c" placeholder="Type Notes.."></textarea>
            <span class="attachment d-block text-right pt-2"><i class="fa fa-paperclip mr-1" aria-hidden="true"></i> Attach File</span>
            </div>
         
          </div>

    </div>
</div>
    </div>

    <app-appfooter></app-appfooter>