<div class="container-fluid">
    <div class="main-wrapper mt-4">
        <div class="container">
            <div class="row">
<div class="col-md-6 offset-md-3  col-12 text-center">
    <div class="row">
        <div class="col-md-12 col-12 pt-2">
    <h1 class="app-title"><i class="fas fa-users mr-2"></i> FAMILY MEMBERS</h1> 
     <a [routerLink]="['/addfamily']" class="rounded-circle position-absolute rt-0 app-icon bg-success shadow text-decoration-none text-white"><i class="fas fa-plus"></i></a>
    <span class="border-devider"></span>
</div>
<hr/>
</div>
<div class="row my-3">
    <div class="col-md-12">
        <table class="table table-borderless">
            <tr>
            <td>
               <div> <b>John Tan</b></div>
Self, M 24
            </td>
            <td> <i class="far fs-20 text-danger fa-file-pdf"></i></td>
            <td>  <i class="far fs-20 text-danger fa-file-pdf"></i></td>
            <td>  <i class="far fs-20 fa-file-pdf"></i></td>
            <td><i class="far fs-20 fa-edit text-primary"></i></td>
            </tr>
            <tr>
                <td>
                   <div> <b>Susan Tan</b></div>
                   Wife, F 21
                </td>
                <td> <i class="far fs-20 text-danger fa-file-pdf"></i></td>
                <td>  <i class="far fs-20 text-danger fa-file-pdf"></i></td>
                <td>  <i class="far fs-20 fa-file-pdf"></i></td>
                <td><i class="far fs-20 fa-edit text-primary"></i></td>
                </tr>
                <tr>
                    <td>
                       <div> <b>Daniel Tan</b></div>
                       Son, M 12
                    </td>
                    <td> <i class="far fs-20 text-danger fa-file-pdf"></i></td>
                    <td>  <i class="far fs-20 text-danger fa-file-pdf"></i></td>
                    <td>  <i class="far fs-20 fa-file-pdf"></i></td>
                    <td><i class="far fs-20 fa-edit text-primary"></i></td>
                    </tr>
    
           
        </table>
    </div>
</div>
    </div>
    </div>
    </div>
    </div>
    </div>