<div class="container-fluid">
    <div class="main-wrapper mt-md-4">
          <div class="container">

             <div class="row mt">
                <div class="col-md-6 mt-2 order-2 order-md-1 p-md-5 p-0">
                   <div class="row">


                  <div class="col-md-12 px-0 h-75 text-center mb-3">


                     <div class="title-bg-box ">
                     <h1 class="app-title"><i class="far fa-calendar-check mr-2"></i> First Appointment</h1>
                     <span class="border-devider"></span>
                     </div>
                  </div>
                </div>
<div class="row">
<div class="col-md-12">
<div class="input-group   shadow-sm bg-light mb-3">
   <div class="input-group-prepend">
     <span class="input-group-text bg-light  pl-4 border-0 text-success  border-right-0" id="basic-addon1"><i class="fas fa-mobile-alt"></i></span>
   </div>
   <input type="text" class="form-control bg-light  border-0   border-left-0 " placeholder="Email/Mobile">
 </div>
</div>
<div class="col-md-12">
   <div class="input-group    shadow-sm  mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text  pl-4 bg-light border-0  border-right-0" id="basic-addon1"><i class="fas fa-key text-success"></i></span>
      </div>
      <input type="password" class="form-control bg-light  border-0   border-left-0" placeholder="Password">
    </div>
   
   </div>
   <div class="col-md-12 mb-3 text-right">
     <a class="text-dark " href="">Forgot Password?</a>
            </div>
   <div class="col-md-12">
      <a [routerLink]="['otp']"  class="btn btn-lg br-3 w-100 btn-success text-white">LOG IN</a>
            </div>
</div>

   

                   <div class="row mt-4">
                      <div class="col-md-3 pl-0 text-center col-3">
                         <div class="m-box call-action-box ">
                            <a href="#">
                               <div class="box-call">
                               
                                  <div class="icon-box-action-sm icon-box-orange"> 	
                                     <i class="fas fa-phone-alt"></i></div>
                                  <div class="text-box-action">	Call  </div>
                               </div>
                            </a>
                         </div>
                      </div>
                      <div class="col-md-3 pl-0 text-center col-3">
                         <div class="m-box call-action-box ">
                            <a href="#">
                               <div class="box-call">
                                  <div class="icon-box-action-sm icon-box-yellow ">  <i class="far fa-comment-dots"></i></div>
                                  <div class="text-box-action">SMS  </div>
                               </div>
                            </a>
                         </div>
                      </div>
                      <div class="col-md-3 pl-0 text-center col-3">
                         <div class="m-box call-action-box ">
                            <a href="#">
                               <div class="box-call">
                                  <div class="icon-box-action-sm icon-box-green-dark"> 	 <i class="far fa-calendar-check"></i></div>
                                  <div class="text-box-action"> Appointment </div>
                               </div>
                            </a>
                         </div>
                      </div>
                      <div class="col-md-3 pl-0 text-center col-3">
                         <div class="m-box call-action-box ">
                            <a href="#">
                               <div class="box-call">
                                  <div class="icon-box-action-sm icon-box-green"> 	<i class="fab fa-whatsapp"></i></div>
                                  <div class="text-box-action">	WhatsApp  </div>
                               </div>
                            </a>
                         </div>
                      </div>
                   </div>
                </div>
                <div class="col-md-6 pt-5 order-1 order-md-2 mt-md-4 mt-2 pb-5 d-flex align-items-center justify-content-center text-center" style="min-height:400px; ">
                   <div class="icongroupbox1 text-center">
                      <div class="icon-image"><img width="100%" src="./assets/images/children.jpg" class="icon-cat" alt="Cinque Terre"></div>
                      <div class="cat-name green">Children</div>
                   </div>
                   <div class="familygroup text-center">
                      <div class="icon-image"><img width="100%" src="./assets/images/family.jpg" class="icon-cat" alt="Cinque Terre"></div>
                      <div class="cat-name family-g">Family</div>
                   </div>
                   <div class="adult text-center">
                      <div class="icon-image"><img width="100%" src="./assets/images/adult.jpg" class="icon-cat" alt="Cinque Terre">
                      </div>
                      <div class="cat-name adult-c">Adults</div>
                   </div>
                   <img class="h-image-g"  src="./assets/images/olive-4.png"/>
                   <div class="icongroupbox2 text-center">
                      <div class="icon-image"><img width="100%" src="./assets/images/teenager.jpg" class="icon-cat" alt="Cinque Terre"></div>
                      <div class="cat-name teenagers-c">Teenagers</div>
                   </div>
                   <div class="couple text-center">
                      <div class="icon-image"><img width="100%" src="./assets/images/couple.jpg" class="icon-cat" alt="Cinque Terre">
                      </div>
                      <div class="cat-name">Couples</div>
                   </div>
                </div>
             </div>
             
          </div>
       </div>
    </div>
