<section class="app-bootom-footer shadow">
    <div class="container-fluid">
<div class="row">
    <div class="col-md-6 offset-md-3  col-12 text-center">

        <div class="row">

            <div class="col-md-3 col-3 text-center py-2 fs-sm">
                <i class="fas fa-home"></i><br>
home
            </div>

            <div class="col-md-3 col-3 active-menu py-2 fs-sm">
                <i class="fas fa-user"></i><br>
Profile
            </div>

            <div class="col-md-3 col-3 py-2 fs-sm">
                <i class="fas fa-user-cog"></i><br>
setting
            </div>

            <div class="col-md-3 col-3 py-2 fs-sm">
                <i class="far fa-comment-dots"></i><br>
message
            </div>
        </div>
        </div>
</div>
</div>

</section>


