

    <div class="col-md-6 offset-md-3  col-12 text-center">
  <a href ="#" class="add-appointment-icon bg-success shadow text-decoration-none text-white"><i class="fas fa-plus"></i></a>
        <div class="row no-gutters py-3">
            <div class="col-md-3 col-3 pr-3">
                <img src="./assets/images/sam.jpg" alt="..." class="rounded-circle w-100">
               
            </div>
            <div class="col-md-8 col-9 text-left pt-1 fs-14">
                <h1 class="mb-0 fs-20 font-weight-bold text-capitalize">John Tan</h1>
               <p class="mb-0">John.tan@gmail.com</p>
               <p class="mb-0">+65 1234 5678</p>
            </div>
            </div>
            <div class="row text-center no-gutters">
            <div class="col-md-3 col-3 px-3 line-height-sm">
                
                <div class="mb-1">
                  <a href="#"  class="app-icon btn btn-outline-success">
                <span class="app-icon"><i class="far fa-file-pdf"></i></span>
              </a>
            </div>
                <small>Intake Form</small>
           
                </div>
                <div class="col-md-3 col-3 line-height-sm ">
                   
                    <div class="mb-1">
                      <a href="#" class="app-icon btn btn-outline-dark ">
                    <i class="far fa-file-pdf"></i>
                  </a>
                </div>
                   <small>Confidentiality Consent</small> 
                  
                    </div>
                    <div class="col-md-3 col-3  px-3 line-height-sm">
                        
                        <div class="mb-1">
                          <a href="#" class="app-icon btn btn-outline-primary "><i class="fas fa-video"></i>    </a> 
                    </div>
                      <small>Video Consent  </small> 
                       
                    </div>
                        <div class="col-md-3 col-3 px-3 line-height-sm">
                            
                            <div class="mb-1">
                              <a [routerLink]="['/familylist']" class="app-icon btn btn-outline-success "><i class="fas fa-users"></i></a>
                        </div>
                          <small>Add Family</small>  
                           
                            </div>
                </div>
                <hr>
                <div class="row text-left">
      
                  <div class="col-md-10 col-10 p-0 col-lg-10 text-left">
                     <div id="tracking-pre"></div>
                     <div id="tracking">
          
                        <div class="tracking-list">
                           <div class="tracking-item">
                              <div class="tracking-icon status-intransit">
                                <i class="fas fa-circle text-primary"></i> 
                              </div>
                              <div class="tracking-date text-dark text-left">
                                <span class="d-block text-primary">Fri, 02 Jun </span>
                                <span class="d-block">  03:00 PM</span>
                                <span class="d-block text-primary">Sam Roberts </span>
                               <div class="actions">  
                                 <span class="text-primary mr-2"><i class="fas fa-video"></i></span>
                                 <span class="text-danger"><i class="fas fa-box-open"></i></span>
                              </div>
                         
                              </div>

                              <div class="tracking-content">
                                 <div class="col-md-12 pl-3">
                                  <span class="d-block font-weight-bold"> John Tan</span>
                                  <span class="d-block"> Couple Session</span>
                                  <span class="d-block text-primary">Pending </span>
                                  <span class="d-block">$ 120.00 <span class="text-danger">(3/8)</span></span>
                              
                                 </div>
                              </div>
                           </div>
            
                           <div class="tracking-item">
                            <div class="tracking-icon status-intransit">
                              <i class="fas fa-circle text-success"></i> 
                            </div>
                            <div class="tracking-date text-dark text-left">
                              <span class="d-block text-danger">Sat, 03 Jun </span>
                              <span class="d-block">  03:00 PM</span>
                              <span class="d-block text-primary">Sam Roberts </span>
                    
                       
                            </div>
                            <div class="tracking-content">
                               <div class="col-md-12 pl-3">
                                <span class="d-block font-weight-bold"> John Tan</span>
                                <span class="d-block"> Couple Session</span>
                                <span class="d-block text-success">Confirmed </span>
                               
                            
                               </div>
                            </div>
                         </div>
               <div class="tracking-item">
                            <div class="tracking-icon status-intransit">
                              <i class="fas fa-circle text-danger"></i> 
                            </div>
                            <div class="tracking-date text-dark text-left">
                              <span class="d-block text-danger">Sun, 04 Jun </span>
                              <span class="d-block">  03:00 PM</span>
                              <span class="d-block text-primary">Sam Roberts </span>
                    
                       
                            </div>
                            <div class="tracking-content">
                               <div class="col-md-12 pl-3">
                                <span class="d-block font-weight-bold"> John Tan</span>
                                <span class="d-block"> Couple Session</span>
                                <span class="d-block text-danger">Cancelled </span>
                               
                            
                               </div>
                            </div>
                         </div>
                         <div class="tracking-item">
                          <div class="tracking-icon status-intransit">
                            <i class="fas fa-circle text-warning"></i> 
                          </div>
                          <div class="tracking-date text-dark text-left">
                            <span class="d-block text-primary">Mon, 05 Jun </span>
                            <span class="d-block">  03:00 PM</span>
                            <span class="d-block text-primary">Sam Roberts </span>
                    
                     
                          </div>

                          <div class="tracking-content">
                             <div class="col-md-12 pl-3">
                              <span class="d-block font-weight-bold"> John Tan</span>
                              <span class="d-block"> Couple Session</span>
                              <span class="d-block text-warning">Completed </span>
                           
                          
                             </div>
                          </div>
                       </div>
                     </div>
                  </div>
               </div>
          <div class="col-md-2 col-2">
            <div class="actions">  
              <span class="text-primary  d-block mr-2"><i class="fas fa-exchange-alt"></i></span>
              <span class="text-danger  d-block  "><i class="far fa-credit-card"></i></span>
           </div> 
          </div>
          
          </div>
            </div>

<app-appfooter></app-appfooter>