<div class="container-fluid">
   <div class="main-wrapper mt-4">
      <div class="container">
         <div class="row">
            <div class="col-md-6 offset-md-3  col-12 text-center">
               <div class="row">
                  <div class="col-md-12 pb-3">
                     <h1 class="app-title"><i class="far fa-calendar-check mr-2"></i> First Appointment</h1>
                     <span class="border-devider"></span>
                  </div>
               </div>
               <div class="row">

                  <div class="col-md-12">

                     <div class="form-group">
                        <select class="form-control border-0   shadow-sm bg-light">
                           <option selected>Select Category</option>
                           <option>Teenager Issue (13-19)</option>

                        </select>
                     </div>
                  </div>
                  <div class="col-md-12">

                     <div class="form-group">
                        <select class="form-control border-0   shadow-sm bg-light">
                           <option selected>Select Gender</option>
                           <option>Male</option>
                           <option>Female</option>
                           <option>Other</option>
                        </select>
                     </div>
                  </div>

                  <div class="col-md-12">

                     <div class="form-group">
                        <select class="form-control border-0   shadow-sm bg-light">
                           <option selected>Select Concern</option>
                           <option>Depression</option>

                        </select>
                     </div>
                  </div>

                  <div class="col-md-12">

                     <div class="form-group">
                        <select class="form-control border-0   shadow-sm bg-light">
                           <option selected>Select Session Type (Face to Face / Video)</option>
                           <option>Choose Category</option>
                           <option>Choose Category</option>
                        </select>
                     </div>
                  </div>
               </div>
               <div class="row">
                  <div class="col-md-6 col-6 text-left"><b>2020</b></div>
                  <div class="col-md-6 col-6 text-right"><span class="week-action">Next 7 days</span></div>
               </div>
               <div class="row text-left first-appointment-d ">
                  <div class="col-md-12 p-0 col-lg-12 text-right">
                     <div id="tracking-pre"></div>
                     <div id="tracking">
                        <div class="tracking-list">
                           <div class="tracking-item">
                              <div class="tracking-icon status-intransit">
                                 <i class="fas fa-circle"></i>
                              </div>
                              <div class="tracking-date text-dark"><span>Fri, 02 Jun </span></div>
                              <div class="tracking-content">
                                 <div class="col-md-12 p-1">
                                    <div class="row no-gutters">
                                       <div class="col-md-4 col-4">
                                          <span class="time-slot  mb-1">09:00 AM</span>
                                       </div>
                                       <div class="col-md-4 col-4">
                                          <span class="time-slot  mb-1">09:00 AM</span>
                                       </div>
                                       <div class="col-md-4 col-4">
                                          <span class="time-slot  mb-1">09:00 AM</span>
                                       </div> 
                                       <div class="col-md-4 col-4">
                                          <span class="time-slot  mb-1">09:00 AM</span>
                                       </div>
                                       <div class="col-md-4 col-4">
                                          <span class="time-slot  mb-1">09:00 AM</span>
                                       </div>
                                       <div class="col-md-4 col-4">
                                          <span class="time-slot  mb-1">09:00 AM</span>
                                       </div> 
                                       <div class="col-md-4 col-4">
                                          <span class="time-slot  mb-1">09:00 AM</span>
                                       </div>
                                       <div class="col-md-4 col-4">
                                          <span class="time-slot  mb-1">09:00 AM</span>
                                       </div>
                                       <div class="col-md-4 col-4">
                                          <span class="time-slot  mb-1">09:00 AM</span>
                                       </div> 
                                                                           </div>
                                 </div>
                              </div>
                           </div>
                           <div class="tracking-item">
                              <div class="tracking-icon status-intransit">
                                 <i class="fas fa-circle"></i>
                              </div>
                              <div class="tracking-date text-dark"><span>Sat, 03 Jun </span></div>
                              <div class="tracking-content">
                                 <div class="col-md-12 p-1">
                                    <div class="row no-gutters">
<div class="col-md-4 col-4">
   <span class="time-slot  mb-1">09:00 AM</span>
</div>
<div class="col-md-4 col-4">
   <span class="time-slot  mb-1">09:00 AM</span>
</div>
<div class="col-md-4 col-4">
   <span class="time-slot  mb-1">09:00 AM</span>
</div> 
<div class="col-md-4 col-4">
   <span class="time-slot  mb-1">09:00 AM</span>
</div>
<div class="col-md-4 col-4">
   <span class="time-slot  mb-1">09:00 AM</span>
</div>
<div class="col-md-4 col-4">
   <span class="time-slot  mb-1">09:00 AM</span>
</div> 
<div class="col-md-4 col-4">
   <span class="time-slot  mb-1">09:00 AM</span>
</div>
<div class="col-md-4 col-4">
   <span class="time-slot  mb-1">09:00 AM</span>
</div>
<div class="col-md-4 col-4">
   <span class="time-slot  mb-1">09:00 AM</span>
</div> 
                                    </div>
                                    
                                   
                                 </div>
                              </div>
                           </div>
                           <div class="tracking-item">
                              <div class="tracking-icon status-intransit">
                                 <i class="fas fa-circle"></i>
                              </div>
                              <div class="tracking-date text-danger"><span>Sun, 04 Jun </span></div>
                              <div class="tracking-content">
                                 <div class="col-md-12 p-1">
                                    <div class="row no-gutters">
                                       <div class="col-md-4 col-4">
                                          <span class="time-slot  mb-1">09:00 AM</span>
                                       </div>
                                       <div class="col-md-4 col-4">
                                          <span class="time-slot  mb-1">09:00 AM</span>
                                       </div>
                                       <div class="col-md-4 col-4">
                                          <span class="time-slot  mb-1">09:00 AM</span>
                                       </div> 
                                       <div class="col-md-4 col-4">
                                          <span class="time-slot  mb-1">09:00 AM</span>
                                       </div>
                                       <div class="col-md-4 col-4">
                                          <span class="time-slot  mb-1">09:00 AM</span>
                                       </div>
                                       <div class="col-md-4 col-4">
                                          <span class="time-slot  mb-1">09:00 AM</span>
                                       </div> 
                                       <div class="col-md-4 col-4">
                                          <span class="time-slot  mb-1">09:00 AM</span>
                                       </div>
                                       <div class="col-md-4 col-4">
                                          <span class="time-slot  mb-1">09:00 AM</span>
                                       </div>
                                       <div class="col-md-4 col-4">
                                          <span class="time-slot  mb-1">09:00 AM</span>
                                       </div> 
                                                                           </div>
                                 </div>
                              </div>
                           </div>
                           <div class="tracking-item">
                              <div class="tracking-icon status-intransit">
                                 <i class="fas fa-circle"></i>
                              </div>
                              <div class="tracking-date text-dark"><span>Mon, 05Jun </span></div>
                              <div class="tracking-content">
                                 <div class="col-md-12 p-1">
                                    <div class="row no-gutters">
                                       <div class="col-md-4 col-4">
                                          <span class="time-slot  mb-1">09:00 AM</span>
                                       </div>
                                       <div class="col-md-4 col-4">
                                          <span class="time-slot  mb-1">09:00 AM</span>
                                       </div>
                                       <div class="col-md-4 col-4">
                                          <span class="time-slot  mb-1">09:00 AM</span>
                                       </div> 
                                       <div class="col-md-4 col-4">
                                          <span class="time-slot  mb-1">09:00 AM</span>
                                       </div>
                                       <div class="col-md-4 col-4">
                                          <span class="time-slot  mb-1">09:00 AM</span>
                                       </div>
                                       <div class="col-md-4 col-4">
                                          <span class="time-slot  mb-1">09:00 AM</span>
                                       </div> 
                                       <div class="col-md-4 col-4">
                                          <span class="time-slot  mb-1">09:00 AM</span>
                                       </div>
                                       <div class="col-md-4 col-4">
                                          <span class="time-slot  mb-1">09:00 AM</span>
                                       </div>
                                       <div class="col-md-4 col-4">
                                          <span class="time-slot  mb-1">09:00 AM</span>
                                       </div> 
                                                                           </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>


               </div>
               <div class="row">
                  <div class="col-md-12 mb-5">
                     <a [routerLink]="['/appointmentstep']"
                        class="btn btn-lg br-3 w-100 btn-success text-white">Continue</a>
                  </div>
               </div>

            </div>
         </div>
      </div>
   </div>