<div class="container-fluid">
    <div class="main-wrapper mt-4">
        <div class="container">
            <div class="row">
<div class="col-md-6 offset-md-3  col-12 text-center">
    <div class="row">
        <div class="col-md-12 pb-3">
    <h1 class="app-title"><i class="far fa-calendar-check mr-2"></i> CANCELLATION POLICY</h1>
    <span class="border-devider"></span>

</div>
</div>

<div class="row">
<div class="col-md-12 text-left">
<p>You are requested to cancel or postpone the
    session in advance so the slot will be made
    available to others in need</p>
</div>
</div>
<div class="row mb-3">
<div class="col-md-6 col-6 text-left">

    Before 48 Hours <br>
Before 24 Hours <br>
Within 24 Hours <br>
Within 8 Hours <br>
</div>
<div class="col-md-6 col-6 text-left">

  : No Charges<br>
: 25% of the Fee<br>
: 50% of the Fee<br>
: No Refund<br>
</div>
<div class="col-md-12 mt-2 text-left">
<p><input type="checkbox" class="mr-1">I Accept</p>

</div>
</div>
<div class="row mb-3">
    <div class="col-md-12 pb-1">
<h1 class="app-title text-danger"><i class="far fa-calendar-check mr-2"></i> DATA PROTECTION</h1>
<span class="border-devider bg-danger mb-3"></span>
<p><b >
    Your information is protected under Personal
    Data Protection Act, Singapore</b></p>
</div>

</div>

<div class="row">
    <div class="col-md-12 pb-3">
<h1 class="app-title"><i class="far fa-calendar-check mr-2"></i> YOUR APPOINTMENT</h1>
<span class="border-devider"></span>

</div>
</div>

<div class="row mb-3">
    <div class="col-md-4 col-4 text-left">
    
        Category <br>
        Gender <br>
        Concern <br>
        Date <br>
    </div>
    <div class="col-md-8 col-8 text-left">
    
      : Teenager Issue (13-19)<br>
    : Male<br>
    : Sun, 03 Jun<br>
    : 07:30 PM<br>
    </div>
    <div class="col-md-12 mt-2 text-left">
    <input type="checkbox" class="mr-1">I Accept
    
    </div>
    </div>
<div class="row">

<div class="col-md-12">

    <div class="form-group">
    <input type="text" class="form-control border-0 shadow-sm bg-light" placeholder="First Name"  />

</div>
<div class="form-group">
    <input type="text" class="form-control border-0 shadow-sm bg-light" placeholder="Last Name"  />

</div>
</div>

</div>
<div class="row no-gutters mb-4">

    <div class="col-md-3 col-3 pr-2">
        <input type="text" class="form-control border-0 shadow-sm bg-light" placeholder="+91"  />
    </div>
    <div class="col-md-9 col-9 text-center">
        <input type="text" class="form-control border-0 shadow-sm bg-light" placeholder="Mobile Number"  /> 
    </div>
</div>
<div class="row">

    <div class="col-md-12 mb-5">
        <a [routerLink]="['/profile']"  class="btn btn-lg br-3 w-100 btn-success text-white">Add Appointment</a>
              </div>

</div>



    </div>
    </div>
    </div>
    </div>