

    <div class="col-md-6 offset-md-3  col-12 text-center">
      
        <div class="row no-gutters pt-3">
            <div class="col-md-4 col-4 pr-0">
                <img src="./assets/images/sam.jpg" alt="..." class="rounded-circle w-100 mb-2">
               <h6 class="mb-1"><b>Client</b></h6>
               <p>CL-2006-039</p>
               

            </div>
            <div class="col-md-8 col-8 text-left pt-1 fs-14">
              <div class="row text-center no-gutters">
                  <div class="col-md-4 col-4 mb-2 px-3 line-height-sm">
                      <a href="#" class="text-dark text-decoration-none">
                      <div class="mb-1">
                      <a href="#" class="app-icon btn btn-outline-success "><i class="fas fa-home"></i></a>
                  </div>
                      <small>Home</small>
                  </a>
                      </div>
                      <div class="col-md-4 mb-2 col-4 line-height-sm ">
                          <a href="#" class="text-dark text-decoration-none">
                          <div class="mb-1">
                            <a [routerLink]="['/counsellorclientprofile']"  class="app-icon btn btn-outline-success "><i class="fas fa-user-tie"></i></a>
                      </div>
                         <small>Profile</small> 
                         </a>
                          </div>
                          <div class="col-md-4 col-4 mb-2  px-3 line-height-sm">
                              <a href="#" class="text-dark text-decoration-none">
                              <div class="mb-1">
                                <a [routerLink]="['/counsellorclientmessage']"class="app-icon btn btn-outline-success "><i class="fas fa-comment-dots"></i></a>
                          </div>
                            <small>Message </small> 
                                 </a> 
                          </div>
                              <div class="col-md-4 col-4 px-3 mb-2 line-height-sm">
                                  <a  [routerLink]="['/ClientContactComponent']"  class="text-dark text-decoration-none">
                                  <div class="mb-1">
                                    <a href="#"  class="app-icon btn btn-outline-success "><i class="far fa-address-card"></i></a>
                              </div>
                                <small>Contact</small>  
                                  </a>
                                  </div>
                                  <div class="col-md-4 col-4 px-3 mb-2 line-height-sm">
                                      <a  [routerLink]="['/familylist']"  class="text-dark text-decoration-none">
                                      <div class="mb-1">
                                        <a href="#"  class="app-icon btn btn-outline-success "><i class="fas fa-dumbbell"></i></a>
                                  </div>
                                    <small>Gym</small>  
                                      </a>
                                      </div>
                                      <div class="col-md-4 col-4 px-3 mb-2 line-height-sm">
                                          <a  [routerLink]="['/ClientnotesComponent']"  class="text-dark text-decoration-none">
                                          <div class="mb-1">
                                            <a href="#"  class="app-icon btn btn-outline-success "><i class="far fa-file-alt"></i></a>
                                      </div>
                                        <small>Notes</small>  
                                          </a>
                                          </div>
                                          <div class="col-md-4 col-4 px-3 line-height-sm">
                                              <a [routerLink]="['/ClientinvoiceComponent']"   class="text-dark text-decoration-none">
                                              <div class="mb-1">
                                                <a href="#"  class="app-icon btn btn-outline-success "><i class="fas fa-file-invoice"></i></a>
                                          </div>
                                            <small>Invoice</small>  
                                              </a>
                                              </div>
                                              <div class="col-md-4 col-4 px-3line-height-sm">
                                                  <a  [routerLink]="['/familylist']"  class="text-dark text-decoration-none">
                                                  <div class="mb-1">
                                                    <a href="#" class="app-icon btn btn-outline-success "><i class="fas fa-comment-dots"></i></a>
                                              </div>
                                                <small>Reset</small>  
                                                  </a>
                                                  </div>
                                                  <div class="col-md-4 col-4 px-3  line-height-sm">
                                                      <a  [routerLink]="['/familylist']"  class="text-dark text-decoration-none">
                                                      <div class="mb-1">
                                                        <a href="#" class="app-icon btn btn-success "><i class="fas fa-plus"></i></a>
                                                  </div>
                                                    <small>Session</small>  
                                                      </a>
                                                      </div>
                      </div>
            </div>
            </div>

                <hr>
                <div class="row">
                    <div class="col-md-6 col-6 text-left pl-4"><b>2020</b></div>
                    
                 </div>
                <div class="row text-left">
      
                  <div class="col-md-10 col-10 p-0 col-lg-10 text-left">
                     <div id="tracking-pre"></div>
                     <div id="tracking">
          
                        <div class="tracking-list">
                           <div class="tracking-item pb-5">
                              <div class="tracking-icon status-intransit">
                                <i class="fas fa-circle text-primary"></i> 
                              </div>
                              <div class="tracking-date text-dark text-left">
                                <span class="d-block text-primary">Fri, 02 Jun </span>
                                <span class="d-block">  03:00 PM</span>
                                <span class="d-block">   Room – 1</span>
                                <span class="d-block"> Mountbatten</span>
                               

                                <span class="d-block text-primary">Sam Roberts </span>
                               <div class="actions">  
                                 <span class="text-primary mr-2"><i class="fas fa-video"></i></span>
                                 <span class="text-danger"><i class="fas fa-box-open"></i></span>
                                 <span class="text-danger"><i class="fas fa-box-open"></i></span>
                                 <span class="text-danger"><i class="fas fa-box-open"></i></span>
                              </div>
                         
                              </div>

                              <div class="tracking-content">
                                 <div class="col-md-12 pl-3">
                                  <span class="d-block font-weight-bold"> John Tan</span>
                                  <span class="d-block"> Couple Session</span>
                                  <span class="d-block text-primary">Pending </span>
                                  <span class="d-block">$ 120.00 <span class="text-danger">(3/8)</span></span>
                              
                                 </div>
                              </div>
                           </div>
            
                           <div class="tracking-item">
                            <div class="tracking-icon status-intransit">
                              <i class="fas fa-circle text-success"></i> 
                            </div>
                            <div class="tracking-date text-dark text-left">
                              <span class="d-block text-danger">Sat, 03 Jun </span>
                              <span class="d-block">  03:00 PM</span>
                              <span class="d-block text-primary">Sam Roberts </span>
                    
                       
                            </div>
                            <div class="tracking-content">
                               <div class="col-md-12 pl-3">
                                <span class="d-block font-weight-bold"> John Tan</span>
                                <span class="d-block"> Couple Session</span>
                                <span class="d-block text-success">Confirmed </span>
                               
                            
                               </div>
                            </div>
                         </div>
               <div class="tracking-item">
                            <div class="tracking-icon status-intransit">
                              <i class="fas fa-circle text-danger"></i> 
                            </div>
                            <div class="tracking-date text-dark text-left">
                              <span class="d-block text-danger">Sun, 04 Jun </span>
                              <span class="d-block">  03:00 PM</span>
                              <span class="d-block text-primary">Sam Roberts </span>
                    
                                    </div>
                            <div class="tracking-content">
                               <div class="col-md-12 pl-3">
                                <span class="d-block font-weight-bold"> John Tan</span>
                                <span class="d-block"> Couple Session</span>
                                <span class="d-block text-danger">Cancelled </span>
                               
                            
                               </div>
                            </div>
                         </div>
                         <div class="tracking-item">
                          <div class="tracking-icon status-intransit">
                            <i class="fas fa-circle text-warning"></i> 
                          </div>
                          <div class="tracking-date text-dark text-left">
                            <span class="d-block text-primary">Mon, 05 Jun </span>
                            <span class="d-block">  03:00 PM</span>
                            <span class="d-block text-primary">Sam Roberts </span>
                    
                     
                          </div>

                          <div class="tracking-content">
                             <div class="col-md-12 pl-3">
                              <span class="d-block font-weight-bold"> John Tan</span>
                              <span class="d-block"> Couple Session</span>
                              <span class="d-block text-warning">Completed </span>
                           
                          
                             </div>
                          </div>
                       </div>
                     </div>
                  </div>
               </div>
          <div class="col-md-2 col-2">
            <div class="actions">  
              <span class="text-primary  d-block mb-2"><a href="#"><i class="fas fa-exchange-alt"></i></a></span>
              <span class="text-danger  d-block mb-2 "><a href="#" class="text-dark"><i class="far fa-credit-card"></i></a></span>
              <span class="text-danger  d-block mb-2 "><a href="#" class="text-dark"><i class="far fa-comment-alt"></i></a></span>
              <span class="text-danger  d-block mb-2 "><a href="#" class="text-dark"><i class="far fa-edit"></i></a></span>
           </div> 
          </div>
          
          </div>
            </div>

<app-appfooter></app-appfooter>